<div class="contents clearfix">
    <div class="left-content">
      <%= link_to '検索', "/search" %>
    </div>
  <div class="contents clearfix">
    <div class="middle-content">
      <div class="user_image"><%= image_tag current_user.avatar %></div>
      <h1>チャットで聞いてみる<h1/>
          <textarea placeholder="（例）小樽で彼女とデート中なのですが、2時間くらい過ごせるおすすめスポットありませんか？室内希望です。" cols=80 rows=10></textarea><br>
        <%= link_to '新規投稿', "/posts/new" %>
    </div>

  <div class="contents clearfix">
    <div class="right-content">
      <h2>注目のQ&Aから探す<h2/>
    </div>
  </div>
