<div class="contents clearfix">
  <link rel="stylesheet" type="text/css" href="original.css">
    <div class="left-content">
    <input placeholder="都道府県" type="text" name="name">
    <input placeholder="場所" type="text" name="name">
    <input placeholder="シーン" type="text" name="name">
      <%= link_to '検索', "/search" %>
    </div>
  <div class="contents clearfix">
    <div class="middle-content">
      <div class="user_image"></div>
      <h1>チャットで聞いてみる<h1/>
        <%= form_for(@post) do |f| %>
    <%= f.text_area :text, placeholder: "例）小樽で彼女とデート中なのですが、2時間くらい過ごせるおすすめスポットありませんか？室内希望です。", cols: "100", rows: "10" %>
    <%= f.submit value: "新規投稿" %>
    <% end %>

    </div>

  <div class="contents clearfix">
    <div class="right-content">
      <h2>注目のQ&Aから探す<h2/>

    </div>
  </div>


