<div class="user_page">
  <header class="user_page-header">
    <a href="">
      <div class="user_image"><%= image_tag current_user.avatar %></div>
      <h2><% current_user.nickname %> <span>さんのマイページ</span></h2>
    </a>
  </header>

