<div class="contents row">
  <div class="success">
    <h3 align="center">
      更新が完了しました。
    </h3>
    <p align="center">
    <a class="btn" href="/users/<%= current_user.id %>">マイページに戻る</a>
    </p>
  </div>
</div>
