<!DOCTYPE html>
<html>
  <head>
    <title>JIMONAVI!</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/original">JIMONAVI!</a></h1>
        <div class="user_nav grid-6">
          <a class="user" href="/users">My Page</a>
        </div>
      </div>
    </header>

<%= yield %>

    <footer>
      <p></p>
    </footer>
  </body>
</html>
