<!DOCTYPE html>
<html>
  <head>
    <title>JIMONAVI!</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/original">JIMONAVI!</a></h1>
        <div class="user_nav grid-6">
          <a class="user" href="/users">My Page</a>
        </div>
      </div>
    </header>


  <div class="contents clearfix">
    <div class="left-content">
      <%= link_to '検索', "/search" %>
    </div>

  <div class="contents clearfix">
    <div class="middle-content">
      <div class="user_image"></div>
      <h1>チャットで聞いてみる<h1/>
          <textarea placeholder="（例）小樽で彼女とデート中なのですが、2時間くらい過ごせるおすすめスポットありませんか？室内希望です。"></textarea><br>
        <%= link_to '新規投稿', "/posts/new" %>
    </div>

  <div class="contents clearfix">
    <div class="right-content">
      <h2>注目のQ&Aから探す<h2/>
    </div>
  </div>

    <footer>
      <p></p>
    </footer>
  </body>
</html>
